{:paths ["src"]
 :deps  {org.clojure/clojure      {:mvn/version "1.11.1"}
         tensegritics/clojuredart {:git/url "https://github.com/tensegritics/ClojureDart.git"
                                   :sha     "8264f2178bd3f028c856391059d010132eb3c18c"}}}
